{% load static %}

{% block content %}

<!DOCTYPE HTML>
<html lang="en">

<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/papers.css' %}">

<link rel = "shortcut icon" href = "{% static 'images/icons/favicon.png' %}">
</head>

<header>
    <div id="container">
      <img href="{% url 'base' %}" src="{% static 'images/icons/renain.png' %}" alt="logo">
      <div id="help"> <a href="#help">  Ayuda </a> </div>
    </div>
</header>


    <h2 id="title">Publicaciones</h2>
        {% if name == user.username %}
        <p>
        <a id="title2" href="{% url 'upload_paper' slug=user %}"> Subir publicacion</a>
        </p>
        {% endif %}
        
    <table class="table"  width="80%" border="2"
     align="center" cellspacing="0" bordercolor="black" bgcolor="white">
        <thead>
        <tr>
            <th>Tema</th>
            <th>Fecha de publicaion</th>
            <th>Descarga</th>
        </tr>
        <br>


        </thead>
        <tbody>
        {% for paper in papers.iterator %}
            <tr>

            <td> <center> {{ paper.topic }}  <a href="/paper/{{ paper.url_name_paper }}" class=""> <font color="0a4a8e"> <center> Ver informacion </center> </font> </a></center> </td>

            <td> <center> {{ paper.publication_date }}  </center> </td>

            <td> <a href="{{ paper.file.url }}" class=""><font color="0a4a8e"> <center> Click aqui </center> </font></a></td>

            </tr>

        {% endfor %}

        </tbody>

    </table>
    <br>
    <div id="footer">
      <p>2018 Red Nacional de Investigación | Hecho en México |
        © Todos los derechos reservados. Esta página electrónica puede ser reproducida,
         sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa
         y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma,
         se requerirá permiso previo y por escrito de la RENAIN. </p>
    </div>

   </body>
  </html>

{% endblock %}
