{% load static %}

{% block content %}

<!DOCTYPE HTML>
<html lang="en">

<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/papers.css' %}">

<link rel = "shortcut icon" href = "{% static 'images/icons/favicon.png' %}">
</head>

<header>
    <div id="container">
        <a href="{% url 'base' %}"> <img  src="{% static 'images/icons/renain.png' %}" alt="logo"></a>
    </div>
</header>


    <h2 id="title">Publicaciones</h2>
        {% if name == user.username %}
        <p>
        <a id="title2" href="{% url 'upload_paper' slug=user %}"> Subir publicación</a>
        </p>
        {% endif %}
        

    <table class="table"  width="80%" border="2"
     align="center" cellspacing="0" bordercolor="black" bgcolor="white">
        <thead>
        <tr>
            <th>Portada</th>
            <th>Título</th>
            <th>Fecha de publicación</th>
            <th>Descarga</th>
            {% if name == user.username %}
            <th>Eliminar</th>
            {% endif %}
        </tr>
        <br>


        </thead>
        <tbody>
        {% for paper in papers.iterator %}
            <tr>
                <td>
                    {% if paper.cover %}
                        <img src = "{{ paper.cover.url }}" alt="{{ paper.topic }}" style="width: 250px; display: block;margin-left: auto;margin-right: auto;">
                        {% else %}
                        <span id="title2">Portada no disponible</span>
                    {% endif %}

                </td>
            <td> <center> {{ paper.topic }}  <a href="/paper/{{ paper.url_name_paper }}" class=""> <font color="0a4a8e"> <center> Ver información </center> </font> </a></center> </td>

            <td> <center> {{ paper.publication_date }}  </center> </td>

            <td> <a href="{{ paper.file.url }}" class=""><font color="0a4a8e"> <center> Click aqui </center> </font></a></td>
{% if name == user.username %}
            <td>
                <center method="post" action="{% url 'delete_paper' slug=user.username  pk=paper.pk%}">
                    {% csrf_token %}
                    <center></center><button type="submit" style="color: #fff;background: #ed3330;border: none;border-radius:5px;margin-left: auto;margin-right: auto;">Eliminar</button></center>


                </form>

            </td>
{% endif     %}
            </tr>

        {% endfor %}

        </tbody>

    </table>
    <br>
    <div id="footer">
      <p>2018 Red Nacional de Investigación | Hecho en México |
        © Todos los derechos reservados. Esta página electrónica puede ser reproducida,
         sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa
         y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma,
         se requerirá permiso previo y por escrito de la RENAIN. </p>
    </div>

   </body>
  </html>

{% endblock %}
