{% block content %}                                                                                                                    {% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
  <head>
    <title>PERFIL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/profilei.css' %}">

<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>


<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>

<div id="container">
    <!-- This checkbox will give us the toggle behavior, it will be hidden, but functional -->
    

    <a href="{% url 'base' %}">   <img  class="r" src="{% static 'images/icons/renain.png' %}" alt="logo"> </a>

     {% if user.is_authenticated %}
     {% if user.is_superuser %}
     <div id="admin_login"><a href="/admin/" style="color: #ffffff">Ingresar como administrador </a> </div>
     {% endif %}
     {% endif %}
</div>
</header>

<body class="w3-light-grey">
<div class="w3-content w3-margin-top" style="max-width:1000px;">
  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container" style="width: 100%" style="height:30%">
             {% if people.img %}
                <img src = "{{ people.img.url }}" alt="{{ people.name }}" style="height:60%;width: 60%; display: block;margin-left: auto;margin-right: auto;margin-top: auto;">
            {% else %}
          <img src="/static/images/icons/user.png" style="width:100%" alt="Avatar">
                  {% endif %}
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2></h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ people.name }}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ people.state }}</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ people.email }}</p>
          <hr>
            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Acerca de ti:
            <p><label>Universidad: </label> {{ people.institute.college.name }}</p>
            <p><label>Instituto: </label> {{ people.institute.name }}</p>
            {% if people.subinstitute %}
            <p><label>Subsintituto: </label> {{ people.subinstitute.name }}</p>
            {% endif  %}
            <p><label>Nivel Académico: </label> {{ people.academic_level }}</p>
            <p> <label>Grado académico: </label>{{ people.degree }}</p>
            {% if people.personal_telephone %}

                <p> <label>Teléfono: </label>{{ people.personal_telephone }}</p>

            {% endif %}

            </b></p>


        </div>
      </div><br>
    </div>
    <div  class="w3-twothird" style="width: 65%" style="height:80%">
      <div id="scroll" class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Perfil</h2>
        <div class="w3-container">
              <h5 class="w3-opacity"> <br><a class="link" href="{% url 'group_list' slug=people.url_name%}"><b>Grupos</b></h5>
              <h5 class="w3-opacity"> <br><a class="link" href="{% url 'paper_list' slug=people.url_name %}"><b>Publicaciones</b></h5>
              {% if people.url_name == user.username %}
                  <h5 class="w3-opacity">  <br><a class="link" href="{% url 'edit_profile' slug=people.url_name %}"><b>Editar perfil</b></h5>
              {% endif %}
      </div>
    </div>
    </div>
  </div>
</div>
</div>

    <div id="footer">
      <p>2018 Red Nacional de Investigación | Hecho en México |
        © Todos los derechos reservados. Esta página electrónica puede ser reproducida,
         sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa
         y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma,
         se requerirá permiso previo y por escrito de la RENAIN. </p>
    </div>

   </body>
  </html>
{% endblock content %}
