{% block content %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">


<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/noui/nouislider.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

<header>
  <div class="container">
    <div> RENAIN </div>
  </div>
</header>

<div class="form">
<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					REGISTRO
				</span>
				
				<form action="{% url 'profile' %}" method="POST" name="profile">
					{% csrf_token %}
					
					<div class="wrap-input100 validate-input bg1" data-validate="Por favor, llene el campo">
						<span class="label-input100">NOMBRE(S) *</span>
						<input class="form-control" type="text" name="first_name" placeholder="Ingrese sus datos">
					</div>

					<div class="wrap-input100 validate-input bg1" data-validate="Por favor, llene el campo">
						<span class="label-input100">APELLIDO(S) *</span>
						<input class="form-control" type="text" name="last_name" placeholder="Ingrese sus datos">
					</div>

					<div class="wrap-input100 validate-input bg1" data-validate="Por favor, escriba su contraseña">
						<span class="label-input100">CONTRASEÑA (MÍNIMO 8 CARACTERES) *</span>
						<input class="form-control" type="text" name="password1" placeholder="Ingrese su contraseña">
					</div>

					<div class="wrap-input100 validate-input bg1" data-validate="Por favor, confirme su contraseña">
						<span class="label-input100">CONFIRME SU CONTRASEÑA *</span>
						<input class="form-control" type="text" name="password2" placeholder="Confirme su contraseña">
					</div>

					<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Introduzca su correo (c@d.x)">
						<span class="label-input100">CORREO *</span>
						<input class="form-control" type="text" name="email" placeholder="Ingrese su correo electrónico ">
					</div>

					<div class="wrap-input100 bg1 rs1-wrap-input100">
						<span class="label-input100">CELULAR</span>
						<input class="form-control" type="text" name="phone" placeholder="Ingrese su número de celular">
					</div>

					<div class="wrap-input100 input100-select bg1">
						<span class="form-control"> DATOS ACÁDEMICOS *</span>
						<div>
							<select class="js-select2" name="service">
								<option>Institución</option>
								<option>Campus</option>
								<option>Carrera</option>
								<option>Posgrado</option>
							</select>
							<div class="dropDownSelect2"></div>
						</div>
					</div>

					<div class="w-full dis-none js-show-service">
						<div class="wrap-contact100-form-radio">
							<span class="label-input100">TIPO DE USUARIO</span>

							<div class="contact100-form-radio m-t-15">
								<input class="input-radio100" id="radio1" type="radio" name="type_investigator" value="physical" checked="checked">
								<label class="label-radio100" for="radio1">
									Investigador
								</label>
							</div>

							<div class="contact100-form-radio">
								<input class="input-radio100" id="radio2" type="radio" name="type_student" value="digital">
								<label class="label-radio100" for="radio2">
									Estudiante
								</label>
							</div>

						</div>
					</div>	

					<input type="submit" formmethod='POST' name="" value="Register">

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							<span>
								Enviar solicitud
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>

				</form>
			</form>
		</div>
	</div>
</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');
	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });
	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];
	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
</script>






<div id="footer">
  <p>2018 Red Nacional de Investigación | Hecho en México |
    © Todos los derechos reservados. Esta página electrónica puede ser reproducida,
     sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa
     y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma,
     se requerirá permiso previo y por escrito de la RENAIN.</p>
</div>

</body>
</html>
{% endblock %}