{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PERFIL</title>

    <link rel="icon" type="image/png" href=" {% static 'images/icons/favicon.png' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/prof.css' %}">
  </head>

    <header>
      <div id="container">
        <div id="renain"><a href="{% url 'base' %}"> <img id="renain" src="{% static 'images/icons/renain.png' %}"> </a> </div>
        <div id="help"> <a href="#help">  Ayuda </a> </div>
      </div>
    </header>
    <br/> <br/> &nbsp;&nbsp;&nbsp;&nbsp;<b>Editar Perfil </b> <br/> <br/>

    <form action="{% url 'edit_profile' user.username %}" method="POST" name="user_edit">
      {% csrf_token %}
    <div style="width: 530px; margin: 0 auto;">

      Nombre: * <input type="text" name="name" title="Ingrese letras o solo caracteres especiales como (@,_+-)" value="{{ person_name }}" required/>  <br/> <br/>

      Correo: * <input type="email" name="email" value ="{{ person_email }}" required/>  <br/> <br/>

      Teléfono: * <input type="text" name="personal_telephone" pattern="[0-9]{8,}" title="Ingresa solo digitos y al menos 8 digitos" value="{{ person_personal_telephone }}" required /> <button> <img src="{% static 'images/icons/internet.png' %}"> </button> <button> <img src="{% static 'images/icons/lock.png' %}"> </button> <br/> <br/>
      
              <div class="wrap-input100 input100-select bg1">
                <span class="form-control"> ESTADO *</span>
                <div> 
                  <select class="js-select2" name="state" required> 
                    <option value="" selected disabled hidden>Selecciona</option>
                    {% for state in states %}
                    <tr>
                      <option value={{state.id_state}}>
                        <td>{{state.name}}</td>
                      </option>
                    </tr>
                    {% endfor %}
              
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
              </div> <br /> 

        <div class="wrap-input100 input100-select bg1">
          <span class="form-control"> NIVEL ACADEMICO *</span>
          <div>
            <select class="js-select2" name="academic_level" required>
              <option value="" selected disabled hidden>Selecciona</option>
              <option>Investigador</option>
              <option>Estudiante</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div> <br />
        
        <div class="wrap-input100 input100-select bg1">
          <span class="form-control"> GRADO DE ESTUDIOS *</span>
          <div>
            <select class="js-select2" name="degree" required>
              <option value="" selected disabled hidden>Selecciona</option>
              <option>Licenciatura</option>
              <option>Maestria</option>
              <option>Doctorado</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div> <br />
        
        
        <div class="wrap-input100 input100-select bg1">
          <span class="form-control"> INSTITUTO *</span>
          <div>
            <select class="js-select2" name="institute" required>
              <option value="" selected disabled hidden>Selecciona</option>
              {% for institute in institutes %}
              <tr>
                <option value={{institute.id_institute}}>
                  <td>{{institute.name}}</td>
                </option>
              </tr>
              {% endfor %}
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div> <br /> 
        
        <div class="wrap-input100 input100-select bg1">
          <span class="form-control"> SUBINSTITUTO *</span>
          <div>
            <select class="js-select2" name="subinstitute" required>
              <option value="" selected disabled hidden>Selecciona</option>
              {% for subinstitute in subinstitutes %}
              <tr>
                <option value={{subinstitute.id_subinstitute}}>
                  <td>{{subinstitute.name}}</td>
                </option>
              </tr>
              {% endfor %}
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div> <br />
        
        ¿Desea cambiar contraseña?

        <input type="checkbox" id="spoiler2"></input> <label for="spoiler2">Si</label>
        
        <div class="spoiler">
          
          <div class="wrap-input100 validate-input bg1" data-validate="Introduzca su nuevo password">
            <span class="label-input100">CONTRASEÑA *</span>
            <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña de al menos 8 caracteres"
              pattern=".{8,}" title="Ingresa un password de al menos 8 caracteres">
          </div>
          
          <div class="wrap-input100 validate-input bg1" data-validate="Confirme el password">
            <span class="label-input100">CONFIRMAR CONTRASEÑA *</span>
            <input class="form-control" type="password" name="confirm_password" id="confirm_password" placeholder="Confirme su contraseña"
              pattern=".{8,}" title="Ingresa un password de al menos 8 caracteres">
            <span id='message'></span>
          </div>
        </div>                 

        ¿Estaba su institución al momento de regístrarse?

        <input type="button" value="Sí">
        <input type="checkbox" id="spoiler1"></input> <label for="spoiler1">No</label>

        <div class="spoiler">
          <p>Por favor, llene los siguientes campos.</p> <br/>
          Nombre de la institución:  <input type="text" name="ins" />  <br/>
          Campus: <input type="text" name="campus" />  <br/>
        </div> <br/> 
        </div>

      <input type="submit" value="Guardar cambios" formmethod="POST">  
</form>
  
  <script> 
	$('#password, #confirm_password').on('keyup', function () {
			if ($('#password').val() == $('#confirm_password').val()) {
				$('#message').html('Password correcto').css('color', 'green');
			} else
				$('#message').html('Password incorrecto').css('color', 'red');
		});
	</script>

    <div id="footer">
      <p>2018 Red Nacional de Investigación | Hecho en México |
        © Todos los derechos reservados. Esta página electrónica puede ser reproducida,
         sin objeto comercial, siempre y cuando su contenido no se mutile o altere, se cite la fuente completa
         y la dirección Web de conformidad con el artículo 148 de la Ley Federal del Derecho de Autor, de otra forma,
         se requerirá permiso previo y por escrito de la RENAIN.</p>
    </div>

    </body>
    </html>
