/* Basic styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 10px;;
}

body {
  font-family: sans-serif;
  background-color: #404245;
}

a {
  text-decoration: none;
}
img {
  width: 10%;
  height: 10%;
}
.container {
  color: white;
  margin: -45px;
  padding: 5px;
  height: 12%;
  width: 100%;
  background-color: #404245;
  color: white;
  text-align: left;
  border-radius: 20px;
}

#footer {
    margin: 5px;
    padding: 5px;
    height: 12%;
    width: 100%;
    background-color: #404245;
    color: white;
    text-align: center;
    border-radius: 20px;
}

#mySearch {
  border-radius: 5px;
  display:
}

.logo {
 color:white;
 font-size:10px;
 line-height:20px;
 float:left;
}

.inutil{
 background-color: #404245;
}

.olvcon{
 border-radius: 20px;
 background: black ; 
 color: #404245;
}

.olvcon2{
 border-radius: 20px;
 background-color: #030303;
}
/* Toggle functionality */
