
body {
  font-family: sans-serif;
  background-color: #eff1f3;

}


a {
  text-decoration: none !important;
  color: white !important;

}

img.h {
  margin-left: 80% !important;
  width: 5% !important;
  height: 5% !important;

}

img.r {
  width: 10% !important;
  height: 10% !important;
}


#container {
  padding: 10px;
  margin: 10px;
  height: 20%;
  width:auto;
  color: white !important;
  background-color: #404245 !important;
  color: white !important;
  text-align: left !important;
  border-radius: 10px !important;
}

#help {
  text-align: right;
}

#renain {
  text-align: left;
}

#footer {
  height: 40em;
  background-color: #404245 !important;
  color: white !important;
  text-align: center !important;
  border-radius: 20px !important;
}
