#title {
  margin-left: 8%;
}

#title2 {
    margin-left: 11%;
    color: #404245 !important;
}


img.h {
  margin-left: 80%;
  width: 5% !important;
  height: 5% !important;

}

img.r {
  width: 10% !important;
  height: 10% !important;
}
