

a {
  text-decoration: none !important;
  color: white !important;

}

body {
  height: 50%;
}

#container {
  margin: 20px;
  padding: 10px;
  height: 20%;
  width:98%;
  color: white !important;
  background-color: #404245 !important;
  color: white !important;
  text-align: left !important;
  border-radius: 10px !important;
}

img.h {
  margin-left: 80%;
  width: 5% !important;
  height: 5% !important;

}

img.r {
  width: 10% !important;
  height: 10% !important;
}


#help {
  text-align: right;
}

#renain {
  text-align: left;
}

#footer {
  margin: 5px;
  padding: 50px;
  height: 40%;

  color: white !important;
  background-color: #404245 !important;
  color: white !important;
  text-align: center !important;
  border-radius: 10px !important;
}

#mySearch {
  border-radius: 5px;
  display:
}

.logo {
 color:white;
 font-size:10px;
 line-height:20px;
 float:left;
}

img {
  width: 10%;
  height: 10%;
}

/* Toggle functionality */
